{% extends core['extended_layout'] ? core['extended_layout'] : 'CoreBundle:Base:base.layout.html.twig' %}

{% block container_header %}
    {{parent()}}
    <div class="itnube-pattern">
        <img width="100%" src="/bundles/front/images/pattern.png">
    </div>
{% endblock %}

{% block container_content %}
        <div class="container">
            <div class="row itnube-row profile">
                <div class="col-md-12">
                    <ol class="breadcrumb">
                        <li><a href="#">Perfil</a></li>
                        <li class="active"><a href="#">Detalle</a></li>
                    </ol>
                </div>
           
                {% block content_header %}
                    <div class="col-md-3 col-xs-12 profile-img">
                        <img style="float: left" src="{{ get_profile_image() }}">
                    </div>
                     <div class="col-md-9 col-xs-12">
                         <h1 class="title">
                             {{app.user.fullName}}
                         </h1>
                         <div class="subtitle-section">
                             
                            {% include 'CoreBundle:Base:alert.messages.html.twig'%}	
                               
                            {% if not app.user.isActive  %}
                                <div class="alert alert-info" role="alert">
                                   
                                        Te hemos enviado un correo electrónico para que lo validez.
                                   
                                </div>
                            {% else %}
                                En feugiat consequat nisl in rhoncus. In faucibus lectus sit amet ligula venenatis fermentum. Aliquam libero dui, condimentum viverra nulla vitae, dignissim tempus ipsum. Aliquam lorem velit, cursus at ultrices in, volutpat ac tortor. Suspendisse potenti. Sed facilisis rhoncus mi, vel pulvinar nisl condimentum id. Praesent metus felis, sodales quis consequat interdum, maximus id felis. Morbi at libero ullamcorper, pulvinar turpis quis, ullamcorper nibh.
                            {% endif  %}
                            
                         </div> 
                     </div>
                 {% endblock %}
                 <div style="clear: both"></div>
                 {% block content_body %}
                     
                    {% if app.user.isActive or app.request.get('id')   %}
                         
                        {% include 'CoreBundle:Base:alert.messages.html.twig'%}

                        <div class="tabbable tabbable-custom boxless custom-border project">
                            <ul class="nav nav-tabs">
                                {#% set section = 'transactions'%#}
                                <li class="{{ not app.request.get('transactions') ? 'active' and
                                        not app.request.get('projects') ? 'active' and     
                                        not app.request.get('comments') ? 'active'  }}"><a href="#profile_tab" data-toggle="tab">{{ "account.user.profile" | trans }}</a></li>
                                <li class="{{ app.request.get('transactions') ? 'active' }}"><a href="#transactions_tab" data-toggle="tab">{{ "invest.plural" | trans }}</a></li>
                                <li class="{{ app.request.get('projects') ? 'active' }}"><a href="#projects_tab" data-toggle="tab">{{ "project.plural" | trans }}</a></li>

                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane {{ not app.request.get('transactions') ? 'active' and
                                                        not app.request.get('projects') ? 'active' and     
                                                        not app.request.get('comments') ? 'active'  }}" id="profile_tab">
                                    <div class="portlet box custom">
                                        <div class="portlet-body profile">
                                            <div  id="content"  class="account">
                                                 {% include 'FrontBundle:Profile/tabs:_profile.html.twig'%}
                                            </div>  
                                            <div  id="edit_content"  class="edit_account">
                                                 {% include 'FrontBundle:Profile/tabs:_edit.html.twig'%}
                                            </div>  
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane {{ app.request.get('transactions') ? 'active' }}" id="transactions_tab">
                                    <div class="portlet box custom">
                                        <div class="portlet-body">
                                            <div class="container-table-transactions">
                                                {% if transactions is empty %}
                                                    {{ 'transaction.none' | trans }}
                                                {% else %}
                                                    {% include 'FrontBundle:Profile/tabs:_transactions.html.twig'%}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane {{ app.request.get('projects') ? 'active' }}" id="projects_tab">
                                    <div class="portlet box custom">
                                        <div class="portlet-body">
                                             
                                            <div id="container" class="project-list profile-tabs">
                                                {% if transactions is empty %}
                                                    {{ 'projects.none' | trans }}
                                                {% else %}
                                                    {% include 'FrontBundle:Profile/tabs:_projects.html.twig'%}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
 
                            </div>
                        </div>
                        <!--END TABS-->
                    {% endif  %}
                 {% endblock %}
            </div>
        </div>
   
{% endblock %}


{% block javascripts %}
        {{ parent() }}
     
        <script type="text/javascript">
            $(document).ready(function (){

                $( ".project-range" ).each(function( index ) {
                    $(this).slider().data('slider'); 
                });

               $('.fade').mosaic();
        });
        </script>

{% endblock %}