{% extends core['extended_layout'] ? core['extended_layout'] : 'CoreBundle:Base:base.layout.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row optisoop-row profile profile-optic" style="display: block" >
            <div class="col-md-3 col-xs-12 profile-img ">
                <img src="{{ get_profile_image(user, '260') }}">
            </div>
            <div class="col-md-9 col-xs-12 profile-desc">
                <h1 class="title">
                    {{user.name}}
                    
                </h1>
                <div class="subtitle-section">
                    {% include 'CoreBundle:Base:alert.messages.html.twig'%}	
                </div> 
            </div>

            <div style="clear: both"></div>

            {% include 'CoreBundle:Base:alert.messages.html.twig'%}
            
            {% if user.active  %}
                <div class="col-md-3" style="padding-right: 0px"> <!-- required for floating -->
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs tabs-left">
                        <li class="active"><a href="#profile_tab" data-toggle="tab">{{ "account.profile" | trans }}</a></li>
                    </ul>
                </div>

                <div class="col-md-9" style="margin-top: 0px;border-top: 1px solid #01acc6;">
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="profile_tab">
                        <div class="portlet box custom">
                            <div class="portlet-body profile">
                                <div id="profile-content">
                                   <div class="col-md-12 container-map">
                                        <div id="map" class="mine" style="width: 100%;height: 300px;"></div>
                                    </div>  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
            {% endif  %}
        </div>  
    </div>  
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
            'bundles/front/css/vendor/bootstrap.vertical-tabs.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}

            
{% endblock %}


{% block javascripts %}
        {{ parent() }}
{% endblock %}