<a data-toggle="modal" data-target="#recoveryPasswordModal"  href="#">{{ 'core.user.password.recovery' | trans }}</a>
{% block  modalRecoveryPassword %}
    <script type="text/javascript">

        $(document).ready(function(){

            $('#recoverySubmit').click(function(){
                var email = $('#email').val();

                if(email != ''){
                    $.ajax({
                        type: "POST",
                        url: "{{ path('recovery_passwrod') }}/"+email,
                      }).done(function( data ) {
                         $('#returnMessage').show();
                         $('#returnMessage div strong').text(data.answer.message);
                         if(data.answer.status == 'success'){
                             $('#returnMessage div').addClass('alert-success');
                         }
                      });
                }

            });
        });

    </script>

<!-- Modal -->
<div class="modal fade" id="recoveryPasswordModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title" id="myModalLabel">{{ 'core.user.password.recovery' | trans }}</h3>
      </div>
      <div class="modal-body">
        <span id="returnMessage" style="display: none">
               <div class="alert alert-warning alert-recovery-password" >
                 <button type="button" class="close" data-dismiss="alert">&times;</button>
                 <strong></strong>
               </div>
            </span>
           <p>{{ 'core.user.password.recovery.help' | trans }}</p>

           <input class="form-control" type="text" id="email" name="_email"/>
           <br>
           <button  id="recoverySubmit" class="btn-large btn"  type="button">{{ 'core.user.password.recovery.submit' | trans }}</button>
      </div>

    </div>
  </div>
</div>


{% endblock%}
