{% extends core['extended_layout'] ? core['extended_layout'] : 'CoreBundle:Base:base.layout.html.twig' %}
{% form_theme form 'CoreBundle:Form:base.fields.html.twig' %}

{% block content %}
 
    <div class="container">
        <div class="col-sm-4"></div>  
        <div class="col-md-4 core-row">

            <div class="row container-recovery">
                <h2 class="center">{{ 'recovery.title' | trans }}</h2>
                <hr>
                {% include 'CoreBundle:Base:alert.messages.html.twig' %}
                {{ form_start(form, {'method': 'post', 'action': path('core_baseactor_recoverypasswordform', {'email': app.request.get('email'), 'hash': app.request.get('hash')} )}) }}
                    {{ form_errors(form)}}
                    <div class="form-group">
                        <label>{{ 'password.new' | trans }}</label>
                        {{ form_widget(form.password.first, {'attr': {'class': 'form-control'} } ) }}
                    </div>
                    <div class="form-group">
                         <label>{{ 'password.repeat' | trans }}</label>
                        {{ form_widget(form.password.second, {'attr': {'class': 'form-control'} } ) }}
                    </div>
                    {{ form_rest(form)}}

                    <input type="submit" value="{{ 'recovery.submit' | trans }}" class="btn btn-flat btn-core pull-right"/>
                {{ form_end(form) }}
            </div>
        </div>
        <div class="col-sm-4"></div>     
    </div>
  
    
{% endblock %}

 