{% extends core['extended_layout'] ? core['extended_layout'] : 'CoreBundle:Base:base.layout.html.twig' %}



{% block container_content %}
 
    <div class="container">
        <div class="col-sm-2"></div>  
        <div class="col-md-8 core-row login login-container-content">
             
            <div class="container-register row"  style="margin-bottom: 100px">
                <h2>{{ 'account.password.recovery.title' | trans }}</h2>
                {{ form_start(form, {'method': 'post', 'action': path('recovery_password_create')}) }}
                    {{ form_errors(form)}}
                    <div class="form-group">
                        <label style="width: 150px;">Nueva contraseña</label>
                        {{ form_widget(form.password.password, {'attr': {'class': 'form-control'} } ) }}
                    </div>
                    <div class="form-group">
                         <label style="width: 150px;">Repite la contraseña</label>
                        {{ form_widget(form.password.confirm, {'attr': {'class': 'form-control'} } ) }}
                    </div>
                    {{ form_rest(form)}}

                    <input type="submit" value="{{ 'account.password.recovery.submit' | trans }}" class="btn btn-flat btn-core" style="color: #fff"/>
                {{ form_end(form) }}
            </div>
        </div>
        <div class="col-sm-2"></div>     
    </div>
  
    
{% endblock %}

 