<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {% block meta_viewport %}
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        {% endblock %}
        <title>{% block title %}{% if page_title is defined %} {{ page_title }} &raquo; {% endif %}Website{% endblock %}</title>
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}"/>

        {% block stylesheets %}

            {% stylesheets
                'bundles/admin/plugins/bootstrap-3.3.6/css/bootstrap.min.css'
                'bundles/admin/plugins/iCheck/minimal/_all.css'
                'bundles/admin/plugins/ionicons-2.0.1/css/ionicons.min.css'
                'bundles/admin/plugins/font-awesome-4.6.3/css/font-awesome.min.css'
                'http://blazeworx.com/flags.css'
                'bundles/core/css/fonts.css'
                'bundles/core/less/main-full.less'
            %}
                <link rel="stylesheet" href="{{ asset_url }}">
            {% endstylesheets %}

        {% endblock %}

        {% javascripts
            'bundles/core/js/jquery-1.11.1.min.js'
            'bundles/admin/plugins/bootstrap-3.3.6/js/bootstrap.min.js'
            'bundles/admin/plugins/iCheck/icheck.min.js'
            'http://blazeworx.com/jquery.flagstrap.min.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        
        {% block head %}{% endblock %}
    </head>

    {% block body %}
    <body class="core-body">
        
        {% block header %}{% endblock %}
        
        {% block contianer_content %}
        <div class="container">
            <div class="row core-row">
                {% block content_header %}{% endblock %}
                {% block content %}{% endblock %}
                {% block content_footer %}{% endblock %}
            </div>
        </div>
        {% endblock %}
        {% block footer %}{% endblock %}
        
         
        <form>
            <div class="form-group">
                <label>Selecciona tu idioma</label> 
                <div style="display: inline-block; width: 200px" id="flagstrap2"
                     data-selected-country="{%if app.request.getLocale() == 'en'%}GB{%else%}{{ app.request.getLocale()|upper}}{%endif%}"
                     data-button-size="btn-md"
                     data-button-type="btn-default"
                     data-scrollable-height="250px"
                     data-scrollable="true">
                </div>
            </div>
        </form>


        {% block javascripts %}
            
            <script>
                //iCheck for checkbox and radio inputs
                $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
                  checkboxClass: 'icheckbox_minimal-blue',
                  radioClass: 'iradio_minimal-blue'
                });
                //Red color scheme for iCheck
                $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
                  checkboxClass: 'icheckbox_minimal-red',
                  radioClass: 'iradio_minimal-red'
                });
                //Flat red color scheme for iCheck
                $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
                  checkboxClass: 'icheckbox_flat-green',
                  radioClass: 'iradio_flat-green'
                });
                
                $(document).ready(function(){
                   $('#flagstrap2').flagStrap({
                        countries: {
                            "ES": "Español",
                            "GB": "Ingles",
                            "DE": "Alemán"
                        },
                        buttonSize: "btn-sm",
                        buttonType: "btn-info",
                        labelMargin: "10px",
                        scrollable: false,
                        scrollableHeight: "350px",
                        placeholder: {
                            value: "",
                            text: "Selecciona tu idioma"
                        },
                        onSelect: function (value, element) {
                            if(value == 'GB') value = 'EN';
                            window.location = '/'+value.toLowerCase();
                        }
                    });  
                });
            </script>
        {% endblock %}
    </body>
    {% endblock %}
</html>
