{% block hwi_oauth_content %}
    {% for owner in hwi_oauth_resource_owners() %}
        <div class="social-login-button col-md-3">
            <a class="btn btn-default oauth-button oauth-button-{{owner}} {{app.request.locale}}" href="{{ hwi_oauth_login_url(owner) }}" >
                <span class="ion-social-{{owner}}"></span>
                {% if params.no_text is defined and params.no_text %}{%else%}<span class="oauth-label">con {{ owner | trans({}, 'HWIOAuthBundle') |capitalize }}</span>{%endif%}
            </a>
        </div>
    {% endfor %}
{% endblock hwi_oauth_content %}