{% set attr = app.request.attributes%}
{% set route = addSufix(attr.get('_route')) %}
{% set route_params = attr.get('_route_params') %}
{% set route_params_relative = route_params%}
{% if paginator.pages is defined %}
<div class="paginator ">
    <ul class="pagination pull-right">
        {% if page > 0 and page < 7%}
            {% set first_page = 1 %}
            {% if paginator.pages|length > 5 %}
                {% set last_page = page + 5 %}
            {% else %}
                {% set last_page = paginator.pages|length %}
            {% endif %}
            
            {% for i in first_page..last_page %}
                {% set route_params_relative = changePage(route_params, i) %}
                <li {% if page == i%} class="active"{% endif %}>
                    <a href="/{{category.slug}}/page/{{i}}?{{ app.request.getQueryString()}}" >{{i}}</a>
                </li>
            {% endfor %}
            {% set route_params_relative = changePage(route_params, (paginator.pages|length)+1) %} 
            <li {% if (page - 1)  == paginator.pages|length  %} class="active"{% endif %}>
                <a href="/{{category.slug}}/page/{{(paginator.pages|length)+1}}?{{ app.request.getQueryString()}}"> Ultimo &raquo;</a>
            </li>
        {% elseif page >= 5 %}
            {% set first_page = page - 5 %}
            {% set last_page = page + 5 %}
            {% set route_params_relative = changePage(route_params, 1) %}
            <li><a href="{{ path(route, route_params_relative )}}?{{ app.request.getQueryString()}}">&laquo; Primero</a></li>
            {% for i in first_page..last_page %}
                {% set route_params_relative = changePage(route_params, i) %}
                {% if i < paginator.pages|length %}
                    <li {% if page == i%} class="active"{% endif %}>
                        <a href="/{{category.slug}}/page/{{i}}?{{ app.request.getQueryString()}}" >{{ i }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            {% set route_params_relative = changePage(route_params, (paginator.pages|length)+1 ) %} 
            <li {% if (page - 1)  == paginator.pages|length  %} class="active"{% endif %}>
                <a href="/{{category.slug}}/page/{{(paginator.pages|length)+1 }}?{{ app.request.getQueryString()}}"> Ultimoo &raquo;</a>
            </li>
        {% endif %}
    </ul>
</div>
{% endif %}