{% form_theme form 'CoreBundle:Form:base.fields.html.twig' %}

{{ form_start(form, {
                    'action': path('register'), 
                    'method': 'post', 
                    'attr': {'class': 'register-form col-xs-12'}
                    }) }}
    {{ form_errors(form) }}
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label hidden">{{ 'signup.email' | trans }}</label>
            <div class="">
                {{ form_widget(form.actor.email, { 'attr': {'class': 'form-control', 'placeholder':  'signup.email' | trans  } } ) }}
                {{ form_errors(form.actor.email) }}
            </div>
        </div>
    </div>  
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label hidden">{{ 'signup.username' | trans }}</label>
            <div class="">
                {{ form_widget(form.actor.username, { 'attr': {'class': 'form-control', 'placeholder': 'signup.username' | trans } }) }}
                {{ form_errors(form.actor.username) }}
            </div>
        </div>    
    </div>  
    <div class="col-md-4 last">
        <div class="form-group">
            <label class="control-label hidden">{{ 'signup.names' | trans }}</label>
            <div class="">
                {{ form_widget(form.actor.name, { 'attr': {'class': 'form-control', 'placeholder': 'signup.names' | trans } }) }}
                {{ form_errors(form.actor.name) }}
            </div>
        </div>    
    </div>  

    <div style="clear: both"></div>

    <div class="col-md-4">

        <div class="form-group">
            <label class="control-label hidden">{{ 'signup.password' | trans }}</label>
            <div class="">
                {{ form_widget(form.actor.password.first, { 'attr': {'class': 'form-control', 'placeholder': 'signup.password' | trans } } ) }}</div>
                {{ form_errors(form.actor.password.first) }}
        </div>

    </div>  
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label hidden">{{ 'signup.password.repeat' | trans }}</label>
            <div class="">
                {{ form_widget(form.actor.password.second, { 'attr': {'class': 'form-control', 'placeholder': 'signup.password.repeat' | trans } }) }}
                {{ form_errors(form.actor.password.second) }}
            </div>
        </div>
    </div>    
     
    <div class="col-md-4 last">
        <div class="form-group">
            <label class="control-label hidden">{{ 'signup.lastnames' | trans }}</label>
            <div class="">
                {{ form_widget(form.actor.surnames, { 'attr': {'class': 'form-control', 'placeholder': 'signup.lastnames' | trans } }) }}
                {{ form_errors(form.actor.surnames) }}
            </div>
        </div>
    </div>  
            
    <div style="clear: both"></div>
             
    <div class="col-md-4">

        <div class="form-group">
            <label class="control-label hidden">{{ 'signup.city' | trans }}</label>
            <div class="">
                {{ form_widget(form.city, { 'attr': {'class': 'form-control', 'placeholder': 'signup.city' | trans } } ) }}
                {{ form_errors(form.city) }}
            </div>
        </div>
    </div>  
    <div class="col-md-4">

        <div class="form-group">
            <label class="control-label hidden">{{ 'signup.state' | trans }}</label>
            <div class="">
                {{ form_widget(form.state, { 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(form.state) }}
            </div>
        </div>
    </div>  
    <div class="col-md-4 last">
        <div class="form-group">
            <label class="control-label hidden">{{ 'signup.country' | trans }}</label>
            <div class="">
                {{ form_widget(form.country, { 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(form.country) }}
            </div>
        </div>
    </div>
            
    <div class="col-md-12">
        <div class="checkboxes">
            {{ form_widget(form.actor.newsletter, {'attr': {'class':'minimal'} }) }} {{ 'signup.news' | trans }}<br/>
            {{ form_widget(form.terms, { 'attr': {'class':'minimal'} }) }}
            {% include 'CoreBundle:Registration/Block:terms.modal.html.twig' %}
        </div>
        <input id="register-button-submit" type="submit" value="{{ 'signup.second' | trans }}" class="btn btn-core pull-right"/> 
    </div>        

    {{ form_rest(form) }}
{{ form_end(form) }}

