<form id="register-form" class="form-register"  action="{{ path('register')}}" method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}
    <h2 class="form-register-heading">{{ 'core.register.title' | trans }}</h2>

    <div>
        {{ form_errors(form.actor.email) }}
        {{ form_widget(form.actor.email, { 'attr': {'class': 'form-control', 'placeholder':  'core.actor.email' | trans  } } ) }}
    </div>

    <div>
        {{ form_errors(form.actor.username) }}
        {{ form_widget(form.actor.username, { 'attr': {'class': 'form-control', 'placeholder': 'core.actor.username' | trans } }) }}
    </div>

    <div>
        {{ form_errors(form.actor.password.password) }}
        {{ form_widget(form.actor.password.password, { 'attr': {'class': 'form-control', 'placeholder': 'core.actor.password' | trans } } ) }}
    </div>

    <div>
        {{ form_errors(form.actor.password.confirm) }}
        {{ form_widget(form.actor.password.confirm, { 'attr': {'class': 'form-control', 'placeholder': 'core.actor.password.confirm' | trans } }) }}
    </div>

    <div>
        <label class="checkbox">
        {{ form_widget(form.terms) }}
        {{ 'core.actor.accept.terms' | trans }}
      </label>
    </div>

    {{ form_rest(form) }}

    <input id="register-button-submit" type="submit" value="{{ 'core.actor.register' | trans }}" class="btn btn-lg btn-primary btn-block"/>
</form>
