<div>
    <div class="col-md-7">
        {% if user is not defined %} {%set user = app.user %}{% endif%}
        <p><b>{{ 'account.email.singular' | trans }}</b>: {{ user.email }}</p>
        <p><b>{{ 'account.user' | trans }}</b>: {{ user.username }}</p>
        <p><b>{{ 'account.name' | trans }}</b>: {{ user.name }} </p>
        <p><b>{{ 'account.passport' | trans }}</b>: {{ user.dni }}</p>
        <p><b>{{ 'account.postal.code' | trans }}</b>: {{ user.postalCode }}</p>
        <p><b>{{ 'account.address.singular' | trans }}</b>: {{ user.address }}</p>
        <p><b>{{ 'account.city' | trans }}</b>: {{ user.city }}</p>
        <p><b>{{ 'account.province.singular' | trans }}</b>: {% if user.state.name is defined %}{{ user.state.name }}{% endif %}</p>
        <p><b>{{ 'account.country.singular' | trans }}</b>: {% if user.country.name is defined %}{{ user.country.name|trans }}{% endif %}</p>
        <p><b>{{ 'account.newsletter' | trans }}</b>: {{ (user.newsletter) ? 'yes'|trans:'no' }}</p>
        <div>
            <a href="javascript:void(0);" id="edit"><span class="ion-edit"></span> {{ 'account.edit.profile' | trans }}</a>
            <a href="javascript:void(0);" id="change-password"><span class="ion-locked"></span> {{ 'account.password.change' | trans }}</a>
        </div>
    </div>
    <div class="col-md-5">
        <div id="map" class="mine" style="width: 100%;height: 300px;"></div>
    </div>  
</div>