        <div style="padding:0; margin:30px 0 0 0; font-family:Arial,Helvetica,sans-serif; font-size:14px; font-weight:bold; color:#000000;">
            {{ core.name }}
        </div>
        <div style="padding:5px 0 0 0; margin:0; font-family:Arial,Helvetica,sans-serif; font-size:11px; color:#868787; line-height:14px;">
            {{ core.company.address }}<br />
            {{ core.company.postal_code }} {{ core.company.city }}
        </div>
        <div style="padding:5px 0 0 0; margin:0; font-family:Arial,Helvetica,sans-serif; font-size:11px; line-height:14px;">
            <a href="mailto:{{ core.company.email }}" style="text-decoration:none; color:#4b9db9;">{{ core.company.email }}</a><br />
            <a href="http://{{ core.company.website_url }}" style="text-decoration:none; color:#4b9db9;">{{ core.company.website_url }}</a>
        </div>

    </div>

    <div style="background-color:#464a4b; padding:35px 45px; margin:0; font-family:Arial,Helvetica,sans-serif; font-size:9px; color:#797c7c;">
        <p style="padding:0 0 10px 0; margin:0;">Esta comunicación es privada, confidencial y sujeta al secreto profesional (Ley 15/1999). Está prohibida su divulgación o copia por cualquier medio, a persona distinta del destinatario. Si lo ha recibido por error, se ruega avisar al emisor y destruirla.</p>

        <p style="padding:0; margin:0;">This communication is private, confidential and protected by professional secret (Law 15/1999). Any use of the information container herein total or partial reproduction, communication or distribution in any form by persons other than the designated recipient(s) is prohibited. If you have received this e-mail in error, please notify the sender and delete the material.</p>
    </div>
</div>