
{% block subject %}{{ 'recovery.subject' | trans }}{% endblock %}

{% block body_text %}
{% autoescape false %}
    
{{ 'recovery.email.title' | trans({ '%name%': name }) }}

{{ 'recovery.email.message' | trans }}

<a href="{{twig_global.getParameter('server_base_url')}}{{ path('core_baseactor_recoverypasswordform' , {'hash': hash, 'email': email}) }}">{{ 'recovery.button.text' | trans }}</a><br><br>

{{ 'validate.email.valid24hs' | trans }}
{% endautoescape %}
{% endblock %}


{% block body_html %}
{% spaceless %}
    {% if no_headers is not defined %}
        {{ include('CoreBundle:Email:_header.html.twig') }}
    {% else %}
    {% endif %}

    <p style="padding:0 0 20px 0; margin:0;">{{ 'recovery.email.title' | trans({ '%name%': name }) }}</p>

    <p style="padding:0 0 20px 0; margin:0;">{{ 'recovery.email.message' | trans }}</p>
    
    <p style="padding:0 0 20px 0; margin:0;"><a href="{{twig_global.getParameter('server_base_url')}}{{ path('core_baseactor_recoverypasswordform' , {'hash': hash, 'email': email}) }}">{{ 'recovery.button.text' | trans }}</a></p>

    <p style="padding:0; margin:0;">{{ 'validate.email.valid24hs' | trans }}</p>

    {% if no_headers is not defined %}
        {{ include('CoreBundle:Email:_footer.html.twig') }}
    {% else %}
    {% endif %}
    
{% endspaceless %}
{% endblock %}
