{% extends twig_global.getParameter('extended_layout_admin') ? twig_global.getParameter('extended_layout_admin') : 'AdminBundle:Base:layout.html.twig' %}

{% block section %}translations{% endblock %}
{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        {{ 'translation' | trans }} {{entity.transKey}}
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="{{ path('admin_default_index') }}"> <i class="ion-home"></i>  {{ 'home' | trans }}</a></li>
        <li><a href="javascript:">{{ 'dashboard' | trans }}</a></li>
        <li><a href="{{ path('core_translation_index') }}">{{ 'translation' | trans }}</a></li>
        <li><a href="{{ path('core_translation_show', {'key': entity.transKey, 'domain': entity.messageDomain }) }}">{{ entity.transKey  }}</a></li>
      </ol>
    </section>
   
    <section class="content">
      <div class="row">
          <div class="col-md-12">
              
            {% include 'CoreBundle:Base:alert.messages.html.twig' %}
                            
            <!-- Custom Tabs -->
            <div class="nav-tabs-custom">
              <ul class="nav nav-tabs">
                <li class="active"><a href="#info_tab" data-toggle="tab" aria-expanded="true">{{ 'information' | trans }}</a></li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane active show-tables" id="info_tab">
                   
                    <table class="table">
                        <tbody>                            
                            <tr>
                                <td>{{ 'translation.key' | trans }}</td>                                
                                <td>{{ entity.transKey }}</td>                            
                            </tr>                           
                            <tr>
                                <td>{{ 'translation.singular' | trans }}</td>                                
                                <td>{{entity.translation}}</td>                            
                            </tr> 
                            <tr>
                                <td>{{ 'translation.locale' | trans }}</td>                                
                                <td>{{entity.transLocale}}</td>                            
                            </tr> 
                            <tr>
                                <td>{{ 'translation.domain' | trans }}</td>                                
                                <td>{{entity.messageDomain}}</td>                            
                            </tr> 
                        </tbody>
                    </table>
                    
                    <div class="box-footer">
                        <div class="col-sm-12"> 
                            <a href="{{ path('core_translation_edit', {'key': entity.transKey, 'domain': 'messages' }) }}" class="btn btn-primary btn-flat"><i class="ion-compose"></i> {{ 'edit.singular' | trans }}</a>
                            <a href="{{ path('core_translation_index') }}" class="btn btn-default btn-flat">{{ "back" | trans }}</a>

                            <button type="submit" class="btn btn-danger btn-flat pull-right" id="delete-btn">{{ 'delete' | trans }}</button>    
                            <form id="delete-entity" action="{{ path('core_translation_delete', { 'key': entity.transKey, 'domain': 'messages' }) }}" method="post">
                                <input type="hidden" name="_method" value="DELETE" />
                                {{ form_widget(delete_form) }}
                            </form>
                        </div>
                    </div><!-- /.box-footer -->
                </div><!-- /.tab-pane -->
              </div><!-- /.tab-content -->
            </div><!-- nav-tabs-custom -->
          </div>
      </div>
    </section>
                                
{% endblock %}
